<li class="list-group-item" [ngStyle]="{'background-color':getColor()}">
<div class="ad__header"><i class="fa" [ngClass]="{'fa-pause-circle':status==='brouillon',
                            'fa-times-circle':status==='desactivée',
                          'fa-check-circle':status==='Publiée'}" [ngStyle]="{color: setColor()}"></i>
  <h3 class="card-title">{{ title }}</h3></div>
  
  <input type="text" [(ngModel)]="title">
  <img src="{{img}}" alt="">
  <p>{{ content }}</p>
  <div class="btn-group">
    <button class="btn btn-sm" [ngClass]="{'btn-success':status==='Publiée',
                                                          'btn-outline-success':status!='Publiée'}" (click)="onPublish()">Publier</button>
    <button class="btn btn-sm" [ngClass]="{'btn-warning':status==='brouillon','btn-outline-warning':status!='brouillon'}" (click)="onTrying()">Brouillon</button>
    <button class="btn btn-sm" [ngClass]="{'btn-danger':status==='desactivée','btn-outline-danger':status!='desactivée'}" (click)="onDeactivate()">Desactiver</button>
  </div>
  <a routerLink="/offres/{{id}}">Aller à l'annonce</a>
</li>