
<form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Login</span>
  </div>
  <input type="text" class="form-control" formControlName="login" name="login">
</div>

<!-- Mot de passe -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Mot de passe</span>
  </div>
  <input type="text" class="form-control" formControlName="password" name="password">
</div>

<!-- Bouton de connexion -->
<button class="btn btn-success" [disabled]="!loginForm.valid">Connexion</button>
</form>
