<header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: #f56b2a;">
        <a class="navbar-brand" routerLink="/">Leboncoing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="nav navbar-nav">
                <a class="nav-item nav-link" routerLink="auth">Authentification</a>
                <a class="nav-item nav-link" routerLink="offres">Annonces</a>
                <a class="nav-item nav-link"routerLink="new">new Ad</a>
            </div>
        </div>
    </nav>
</header>
<div class="container">

    <router-outlet></router-outlet>
</div>