<a routerLink="auth"><button class="btn btn-primary" *ngIf="isAuth===false">connexion</button></a>

<h1 class="h1">Mes Annonces :</h1>
<p class="text-info" *ngIf="isAuth===false">Vous devez être connecté pour afficher les annonces</p>
<ul class="list-group" *ngIf="isAuth===true">
    <app-ad *ngFor="let ad of ads"
                                [id]="ad.id"
                                [title]="ad.title"
                                [status]="ad.status"
                                [img]="img"
                                [content]="ad.content"></app-ad>
</ul>
<app-counter [ads]="ads"></app-counter>
<button class="btn btn-success" (click)="onPublishAll()" *ngIf="isAuth===true">Tout Publier</button>
<button class="btn btn-danger" *ngIf="isAuth===true" (click)="onDisconnect()">Déconnexion</button>
<button class="btn btn-danger" *ngIf="isAuth===true" (click)="deleteAll()"></button>