<h3>add an ad</h3>
<div>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)">
  <input type="text" name="title" formControlName="title">
  <input type="files" name="image" formControlName="img">
  <input type="text" name="status" formControlName="status">
  <textarea name="content" id="" cols="30" rows="10" formControlName="content"></textarea>
  <input type="submit" [disabled]="!addForm.valid">
</form>
</div>
